@import "tailwindcss";

@font-face {
  font-family: "Manufacturing Consent";
  src: url("/font/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/font/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@theme inline {
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --color-primary-50: #fff6ec;
  --color-primary-100: #ffecd5;
  --color-primary-200: #fed5aa;
  --color-primary-300: #fdb674;
  --color-primary-400: #fb8c3c;
  --color-primary-500: #f96c16;
  --color-primary-600: #ea520c;
  --color-primary-700: #c23c0c;
  --color-primary-800: #9a3012;
  --color-primary-900: #7c2a12;
  --color-primary-950: #431207;


  --color-secondary-50: #fff6ec;
  --color-secondary-100: #ffebd3;
  --color-secondary-200: #ffd4a5;
  --color-secondary-300: #ffb56d;
  --color-secondary-400: #ff8a32;
  --color-secondary-500: #ff680a;
  --color-secondary-600: #ff4f01;
  --color-secondary-700: #cc3602;
  --color-secondary-800: #a12b0b;
  --color-secondary-900: #82260c;
  --color-secondary-950: #461004;



}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Manufacturing Consent", system-ui, sans-serif;
}